@mixin common {
  width: 100%;
  padding: 15px 15px 0px 15px;
  box-sizing: border-box;
  background-color: #F7F7F7;
  height: 100vh;
  .wrapper {
    height: calc(100vh - 75px );
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
  }
}

@mixin btn-styles {
  .radio-btn {
    border-radius: 5px;
    border: 1px solid #cccccc;
    color: #333;
    background: #F5F5F5;
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .active-radio-btn {
    border-radius: 5px;
    color: #fff;
    background: #40B9B0;
    padding: 5px;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #40B9B0;
  }
}

@mixin container {
  @include common;
  .base-info {
    height: 100px;
    p {
      font-size: 16px;
      font-weight: 400;
    }
    .van-swipe-cell {
      margin-top: 10px;
      border-radius: 5px;
    }
    .cell-base {
      font-size: 16px;
      line-height: 41px;
      background-color: white;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .base-left {
        span:first-of-type {
          vertical-align: sub;
          color: red;
        }
      }
    }
    .base-right {
      color: #999;
      display: flex;
      align-items: center;
      span {
        margin-right: 10px;
        display: inline-block;
      }
    }
  }
  .wrapper {
    margin-top: 10px;
    @extend .base-info;
    height: calc( 100vh - 100px);
    overflow: hidden;
  }
  .icon-add {
    margin-top: 15px;
    .van-button--normal {
      color: #999999 !important;
    }
  }
}


